@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("www.gamerswithjobs.com") {
  body {
    background-color: #424242;
  }

  /* Text Color */
  body, #header a, li a.active {
    color: #eee;
  }

  body.node-type-article .node .content .content-second-inner,
  body.node-type-podcast .node .content .content-second-inner {
    background-color: rgba(255, 255, 255, 0.1)
  }

  .fieldset-node-forum {
    background-color: transparent;
  }

  #header .region-header .wc-header-block {
    background-color: rgba(48, 48, 48, 0.9);
  }

  #page, table thead, table tr.odd, .comment-preview,
  body.node-type-article .node .article-comments .forum-post.odd,
  body.node-type-podcast .node .article-comments .forum-post.odd {
    background-color: #303030;
  }

  .forum-post.even, .forum-post.node-forum, table tr.even,
  body.node-type-article .node .article-comments .forum-post.even,
  body.node-type-podcast .node .article-comments .forum-post.even{
    background-color: #272727;
  }

  table tr.even, table tr.odd {
    border-bottom-width: 0;
  }

  .quote blockquote {
    background-color: #404040;
    border-color: #545454;
  }

  input.form-text,
  input.form-autocomplete,
  input.form-file,
  textarea.form-textarea,
  .text-format-wrapper .markItUpEditor,
  input.form-autocomplete:focus,
  input.form-text:focus,
  input.form-file:focus,
  textarea.form-textarea:focus {
    resize: vertical;
    background-color: #373737;
    color: #eee;
  }
}
